#map {
    /*width: 100%;*/
    /*height: 549px;*/
    /*background: grey;*/
    /*display: block;*/
    /*position: fixed;*/
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top:0;
    left: 0;
    padding: 75px 0 30px !important;
}
#panel {
    position:absolute;
    top: 1500px;
    width:49%;
    left:51%;
    height:100%;
    background:inherit;
}
#hrFrom, #hrTo {

    margin-bottom: 15px;
    text-align: left;
    margin-left: 0;
    visibility: visible;
    width: 80%;
    height: 1px;
    background-color: #547491;
    opacity: 0.7;
}
#fromBlock, #toBlock {
    margin-left: 5%;
}
#from, #to {
    margin-top: 5px;
    font-size: 135%;
}
#walkinBlock {
    background-color: #e2e3e7;
    padding-top: 10px;
    padding-left: 20px;
    height: 40px;
}
#walkingRoutes {
    display: block;
    text-align: left;
    font-size: 135%;
    width: 100%;

}
.hicn_15 {
    background: url(../img/img_route_walk.svg) no-repeat top left;
    background-size: contain;
    height: 35px;
    width: 35px;
    display: inline-block;
    position: absolute;
}
#altBlock {
    padding-left: 20px;
    width: 100%;
    height: 65px;
}
#hrAlt {
    margin-bottom: 5px;
    display: inline-block;
    text-align: left;
    margin-left: 0;
    visibility: visible;
    width: 80%;
    height: 1px;
    background-color: #547491;
    opacity: 0.7;
    line-height: 50px;
}
.altRoute{
    display: inline-block;
    font-style: italic;
    font-size: 95%;
    margin-left: 40px;
}
.altRouteH1 {
    display: block;
    text-align: left;
    font-size: 100%;
    width: 70%;
    margin-left: 40px;
}
#altRouteBlock {
    margin-top: 5px;
    margin-bottom: 10px;
}
#hrDist {
    visibility: visible;
    opacity: 1;
    display: inline;
    width: 50% !important;
    height: 20px !important;
    margin: 3px;
}
.hicn_16 {
    background: url(../img/img_route_walk.svg) no-repeat top left;
    background-size: contain;
    height: 35px;
    width: 35px;
    display: inline-block;
    position: absolute;
    left: 3px;
    bottom: 0px;
}
/*mainwalk, alltwalk {*/
    /*display: inline;*/
/*}*/
.btn_search:hover {
    /*right:0px;*/
    background: url(../img/btn_route_vis_a.svg) no-repeat top left;
    background-size: contain;
}
#display{
    position: absolute;
    color: #547491;
    background-color: #34495e;
    width: 100%;
    height: auto;
}
/*.addressesAuroCom {*/
    /*position: absolute;*/

    /*background-color: #34495e;*/
    /*width: 100%;*/
    /*height: auto;*/

/*}*/

/*#spanArr {*/
    /*font-size: medium;*/
    /*font-weight: 500;*/
    /*background-color: #34495e;*/
    /*width: 100%;*/

/*}*/
#spanArr:hover {
    /*font-size: medium;*/
    /*font-weight: 500;*/
    background-color: rgba(46,203,114, 1);
}
mark {
    background-color: #fff;
}
.clear {
    visibility: hidden;
}
select {

    height: auto;
}
.btn_change_w {
    display:inline-block;
    width:30px;
    height:30px;
    position:absolute;
    top:-2px;
    right:-2px;
    z-index:5
}
.btn_change_w:before{
    content:"\e909";
    font-family:xtreet_icns;
    width:inherit;
    height:inherit;
    display:-webkit-box!important;
    display:-ms-flexbox!important;
    display:-webkit-flex!important;
    display:flex!important;
    -webkit-box-pack:center!important;
    -ms-flex-pack:center!important;
    -webkit-justify-content:center!important;
    justify-content:center!important;
    -webkit-box-align:center!important;
    -ms-flex-align:center!important;
    -webkit-align-items:center!important;
    align-items:center!important;
    font-size:18px;
    color:#547491
}
.btn_change_w:hover:before{
    color:#83a9c9;
    cursor:pointer
}
.popup_body_routes{
    line-height:16px;
    height: auto;
}
#routesDetails {
    padding: 5px;
    border-bottom: 1px solid #e2e3e7;
}
#fromWalk {
    height: 55px;
    border-bottom: 1px solid #e2e3e7;
}
.routesDetailsLi {
    border-bottom: 1px solid #e2e3e7;
    height: 70px;
}
#routedetailsFrom {
    font-size: small;
}
.hicn_20 {
    background: url(../img/marker_route_start.svg) no-repeat top left;
    background-size: contain;
    height: 35px;
    width: 35px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
}
#routesBlock {
    height: 250px;
    overflow-x: scroll;
}
#fromRouteDetail {
    display: inline-block;
    margin-left: 50px;
    margin-top: 15px;
}
.length {
    margin-left: 25px;
    color: #2ecb72;
}
.routesDetailsLi hr {
    visibility: visible;
    opacity: 1;
    display: inline;
    height: 0px;
    margin-right: 3px;
}
.routesDetailsLi span {

}